footer.main-footer
  .container
    a(href="#").footer-logo
      img(src="assets/images/footer_logo.png",alt="instarr")
    .copyright
      | &copy;2016
    .contacts
      h4
        | НАШИ КОНТАКТЫ:
      p 8 (800) 775-35-37
      p info@lead-academy.ru
