header.main-header
  .container
    a(href="#").logo
      img(src="assets/images/logo.png", alt="instarr")
    h1.main-title
      | Приведем клиентов
      br
      | в Ваш бизнес из Instagram
    .subtitle
      p
        | Никаких пустых обещаний:
        strong гарантия прописана в договоре
      p
        | Вы получите от 10 000 до 30 000 контактов в месяц с Вашими потенциальными клиентами
