.sprite {
  background-image: url(../assets/images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-arrow {
  width: 169px;
  height: 90px;
  background-position: -5px -5px;
}

.sprite-audience_ic {
  width: 89px;
  height: 89px;
  background-position: -5px -105px;
}

.sprite-exclamation_ic {
  width: 173px;
  height: 52px;
  background-position: -184px -5px;
}

.sprite-instagram_ic {
  width: 89px;
  height: 89px;
  background-position: -184px -67px;
}

.sprite-man_ic {
  width: 89px;
  height: 89px;
  background-position: -283px -67px;
}

.sprite-text_decorative {
  width: 173px;
  height: 9px;
  background-position: -104px -166px;
}
