.main-footer
  background: #2A2A2A
  background-size: cover
  color: #CCCCCC
  font-size: 0
  font-family: "PT Sans",sans-serif
  padding: 30px 0


.main-footer .container
  padding: 0 65px

  @media (max-width:768px)
    padding: 15px

.footer-logo,
.copyright,
.contacts
  display: inline-block
  vertical-align: middle
  width: 33.3%

  @media (max-width:425px)
    width: 100%
    text-align: center

.copyright
  text-align: center
  color: #FFFFFF
  font-size: 1rem

  @media (max-width:425px)
    margin: 15px 0

.contacts
  font-size: 1rem
  font-weight: 700
  color: #FFFFFF
  padding-left: 15%


  @media (max-width:590px)
    padding-left: 5%

  @media (max-width:480px)
    padding-left: 0

.contacts h4
  text-transform: uppercase
  margin-top: 0
  margin-bottom: 10px

.contacts p
  margin: 0
