.main-header
  background: url("../assets/images/header_bg.jpg") 0 0 no-repeat;
  background-size: cover
  text-align: center
  color: #FFFFFF
  padding-top: 35px
  padding-bottom: 65px
  padding-left: 25px
  padding-right: 25px

.main-title
  set-font-size(68px)
  font-family: UbuntuBold
  margin-top: 20px
  margin-bottom: 50px
  line-height: .9
  width: 100%

.main-header .subtitle
  border: 6px solid #FFFFFF
  margin: 0 25px
  padding: 0 10%

.main-header .subtitle p
  &:nth-of-type(1)
    set-font-size(42px)
    margin-top: 25px
    margin-bottom: 15px
    line-height: 1
    strong
      font-family: UbuntuBold
      display: inline-block
      width: 100%

  &:nth-of-type(2)
    set-font-size(25px)
    line-height: 1.2
    margin-top: 0
    margin-bottom: 35px
    font-family: Tahoma, sans-serif