.main-header
  background: url("../assets/images/header_bg.jpg") 0 0 no-repeat;
  background-size: cover
  text-align: center
  color: #FFFFFF
  padding-top: 35px
  padding-bottom: 65px

.main-title
  set-font-size(68px)
  font-family: UbuntuBold
  margin-top: 20px
  margin-bottom: 50px
  line-height: .9
  width: 100%

  @media (max-width:480px)
    set-font-size(48px)

  @media (max-width:480px)
    set-font-size(40px)

.main-header .subtitle
  border: 6px solid #FFFFFF
  margin: 0 25px
  padding: 0 10%

  @media (max-width:590px)
    padding: 0 5%

.main-header .subtitle p
  &:nth-of-type(1)
    set-font-size(42px)
    margin-top: 25px
    margin-bottom: 15px
    line-height: 1

    strong
      font-family: UbuntuBold
      display: inline-block
      width: 100%

    @media (max-width:480px)
      set-font-size(32px)

    @media (max-width:320px)
      set-font-size(22px)

  &:nth-of-type(2)
    set-font-size(25px)
    line-height: 1.2
    margin-top: 0
    margin-bottom: 35px
    font-family: Tahoma, sans-serif

    @media (max-width:480px)
      set-font-size(18px)

    @media (max-width:320px)
      set-font-size(17px)

.logo
  display: inline-block